# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PasswordManager.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\JH\RiderProjects\PasswordManager\.idea\.idea.PasswordManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
